@import 'colors';
@import 'earn';
@import 'cardgame';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: Roboto, Montserrat;
    background-color: black;
    color: white;
    width: 100%;
    height: 100vh;
    max-width: 400px;
    margin: 0 auto;
    overflow-x: hidden;
    padding: 10px 8px;
    
    .daily-activities {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 20px 5px;
        
        .countdown {
            font-size: 0.9rem;
            padding-top: 1px;
        }
        
        .daily-reward-text {
            font-size: 0.9rem
        }

        .daily-reward-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $eerie-black;
            // padding: 10px 25px;
            padding: 10px 39px;
            border-radius: 5px;
            box-sizing: border-box;
            img {
                height: 35px;
                object-fit: cover;
                padding-bottom: 5px;
            }
        }

        .daily-spin-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $eerie-black;
            padding: 10px 39px;
            border-radius: 5px;
            box-sizing: border-box;
            img {
                height: 33px;
                object-fit: cover;
                padding-bottom: 8px;
            }
        }
    }

    
    
    .welcome-user {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 12px;

        // .welcome-title {
        //     font-size: 2rem;
        // }
        .profile-pics {
            height: 70px;
            width: 70px;
            background-color: rgb(16, 14, 161);
            border-radius: 50%;
            margin-bottom: 4px;
        }
        .welcome-name {
            font-size: 2rem;
        }
    }

    .home-balance {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        img {
            height: 50px;
        }

        .main-home-balance {
            font-size: 2rem;
            margin-left: 20px;
        }
    }
    .leader-board {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 45px;
        img {
            height: 23px;
            width: 23px;
            margin: 5px;
            // margin-bottom: 5px;
            // object-fit: cover;
        }
        .first, .second, .third {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: $eerie-black;
            margin: 0px 5px;
            border-radius: 5px;
        }
        .first-details, .second-details, .third-details  {
            // margin: 5px 0px 10px;
            display: flex;
            flex-direction: column;
            padding: 2px 20px;
            
        }
        .name, .price {
            font-size: 0.8rem;
            padding: 0;
        }
        .second {
            margin-top: 20px;
        }
        .third {
            margin-top: 28px;
            margin-bottom: 4px;
            
        }
        // .first {
            //     margin-top: 15px;
        // }
    }

    .boost-level {
        display: flex;
        justify-content: center;
        // margin: 23px 12px 0px;
        // padding: 12px 0px;
        // border-radius: 5px;
        
        a {
        color: white;
        background-color: $blood-red;
        padding: 10px 29px;
        border-radius: 5px;
        margin: 23px 12px 0px;
        }
    }










        /* Bottom Navigation */

    // .bottom-nav {
    //     position: fixed;
    //     bottom: 10px;
    //     left: 50%;
    //     transform: translateX(-50%);
    //     width: calc(100% - 20px);
    //     max-width: 400px;
    //     background-color: #292929;
    //     border-radius: 25px;
    //     display: flex;
    //     justify-content: space-around;
    //     /* padding: 10px; */
    //     .bottom-nav .nav-item {
    //         text-align: center;
    //         color: #fff;
    //     }
    
    //     .nav-item.active {
    //         background-color: #3a3a3a;
    //         /* padding: 5px 10px; */
    //         border-radius: 15px;
    //     }
    
    //     .nav-item img {
    //         width: 25px;
    //         height: 25px;
    //         display: block;
    //         margin: 0 auto 5px;
    //     }
    
    //     @media (max-width: 600px) {
    //         .cards {
    //             max-width: 300px; /* Adjust for smaller screens */
    //         }
    //     }
    
    // }
    
    .bottom-nav {
        position: fixed;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 20px);
        max-width: 400px;
        background-color: $night-alt;
        border-radius: 15px;
        display: flex;
        justify-content: space-around;
        padding: 9px;
        margin: 0px 1px;

        a {
            color: white;
            font-size: 0.8rem;
            padding: 9px 18px;
        }
        .nav-item.active {
            color: white;
            background-color: $eerie-black;
            // padding: 9px;
            border-radius: 5px;
        }
    }
        
        
        
        
    // .bottom-nav .nav__icon {
    //     display: flex;
    //     flex-direction: column;
    //     text-align: center;
    //     color: rgb(255, 255, 255);
    //     font-size: 15px;
    //     padding-bottom: 2px;
    // }
    
    
    // .nav-item {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    //     flex-grow: 1;
    //     min-width: 30px;
    //     overflow: hidden;
    //     white-space: nowrap;
    //     font-family: sans-serif;
    //     font-size: 12px;
    //     color: #444444;
    //     text-decoration: none;
    //     -webkit-tap-highlight-color: transparent;
    //     transition: background-color 0.1s ease-in-out;
    // }
    // .bottom-nav .nav-item {
    //     display: flex;
    //     flex-direction: column;
    //     text-align: center;
    //     color: rgb(255, 255, 255);
    // }
    
    
    // .nav-item.active {
    //     /* background-color: #3a3a3a; */
    //     padding: 5px 0px;
    //     border-radius: 15px;
    //     color: #fff;
    //     background: rgb(37, 32, 32);
    // }
    
    // @media (max-width: 600px) {
    //     .cards {
    //         max-width: 300px; /* Adjust for smaller screens */
    //     }
    // }
}






































// .top-balance {
    //     padding: 17px 0px 9px 0px;
    //     margin-bottom: 9px;
    //     .balance-top {
    //         font-size: 1.3rem;
    //         font-weight: bold;
    //     }
    // }
    // .top-cards::-webkit-scrollbar {
    //     display: none; /* Hide scrollbar */
    // }
    // .top-cards {
    //     display: flex;
    //     overflow-x: auto;
    //     gap: 10px;
    //     padding-bottom: 10px;
    //     .card {
    //         border-radius: 10px;
    //         padding: 20px;
    //         min-width: 326px;
    //         max-width: 250px;
    //         min-height: 200px;
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: space-between;
    //     }
    //     .card-1 {
    //         background-color: wheat;
    //     }
    //     .card-2 {
    //         background-color: rgb(215, 218, 62);
    //     }
    //     .card-3 {
    //         background-color: white;
    //     }
    //     .card img {
    //         width: 40px;
    //         height: 40px;
    //         border-radius: 50%;
    //         margin-bottom: 10px;
    //     }
    //     .card-title {
    //         font-size: 1.2em;
    //         font-weight: bold;
    //         margin-bottom: 5px;
    //         color: black;
    //     }
    //     .points {
    //         color: #141414;
    //         font-size: 0.9em;
    //     }
    //     .card-footer {
    //         display: flex;
    //         justify-content: space-between;
    //         align-items: center;
    //         margin-top: 15px;

    //         .top-cards-status {
    //             color: rgb(20, 59, 5);
    //             font-size: 15px;                
    //         }
    //         .material-symbols-outlined {
    //         font-variation-settings:
    //         'FILL' 0,
    //         'wght' 400,
    //         'GRAD' 0,
    //         'opsz' 24,
    //         }
    //     }
    //     .open-button {
    //         background-color: #000;
    //         color: white;
    //         padding: 8px 16px;
    //         border-radius: 20px;
    //         border: none;
    //         font-size: 0.9em;
    //         cursor: pointer;
    //         :active, :focus {
    //             outline: none;
    //             background: gray;
    //         }
    //     }
    // }


    
    // // Menue tab for th GAME, TASK AND SOCIAL menu
    // .tabs {
    //     margin-top: 9px;
    //     display: flex;
    //     justify-content: space-around;
    //     background-color: $night-alt;
    //     padding: 6px 0px;
    //     border-radius: 10px;
    //     .tab {
    //         border: none;
    //         color: #888;
    //         font-size: 1rem;
    //         padding: 15px 30px;
    //         background: none;
    //     }
        
    //     .tab.active {
    //         color: white;
    //         background-color: $eerie-black;
    //         padding: 5px 30px;
    //         border-radius: 4px;
    //     }
    // }
    // /* Tab Content */
    // .tab-content {
    //     display: none;
    // }
    // .tab-content.active {
    //     display: grid;
    //     grid-template-columns: repeat(2, 1fr);
    //     gap: 20px;
    //     margin-top: 25px;
    //     max-height: 340px;
    //     overflow-y: auto;
    //     padding: 0px 5px;

    //     /* Card styling */
    //     .card-menu-tab {
    //         background-color: $night-alt;
    //         border-radius: 10px;
    //         height: 150px;
    //         padding: 15px;
    //         display: flex;
    //         flex-direction: column;
    //         align-items: center;
    //     }
    //     .card-menu-tab img {
    //         width: 50%;
    //         height: 50%;
    //         object-fit: cover;
    //         border-radius: 10px;
    //         margin-bottom: 10px;
    //     }
    //     .card-info p {
    //         font-size: 1em;
    //         margin: 5px 0;
    //     }
    //     .diamond {
    //         color: #00aaff;
    //     } 
    // }

    // #social.active {
    //     display: block;
    // }


    // //TASK LIST IN THE LOWER MENUE SECTION of the GAME SOCIAL AND TASKS
    // .task-list {
    //     max-height: 340px;
    //     overflow-y: auto;
    //     padding: 0px 5px;
    //     .task-item {
    //         display: flex;
    //         align-items: center;
    //         justify-content: space-between;
    //         padding: 15px;
    //         background-color: $night-alt;
    //         border-radius: 10px;
    //         margin-bottom: 10px;
    //         transition: background-color 0.2s;
    //         margin-bottom: 15px;
    //     }
        
    //     .task-item:hover {
    //         background-color: $eerie-black;
    //     }
        
    //     .icon {
    //         width: 30px;
    //         height: 30px;
    //         border-radius: 50%;
    //         display: flex;
    //         align-items: center;
    //         justify-content: center;
    //     }
    //     .icon.globe {
    //         background-color: #3c8be7;
    //     }
    //     .icon.react {
    //         background-color: #50b7f5;
    //     }
    //     .icon.like,
    //     .icon.follow,
    //     .icon.post {
    //         background-color: #ff4d4f;
    //     }
    //     .icon.wallet {
    //         background-color: #f0c400;
    //     }
    //     .task-details {
    //         flex-grow: 1;
    //         margin-left: 10px;
    //     }
    //     .task-details p {
    //         font-size: 1em;
    //         font-weight: 500;
    //     }
    //     .reward {
    //         font-size: 0.9em;
    //         color: #bbbbbb;
    //     }
    //     .arrow {
    //         font-size: 1.2em;
    //         color: #777;
    //     }
    // }

 
    /* FOR THE HOME PAGE*/


      













    // .task-list {
    //     list-style: none;
    //     padding: 0;
    // }

    // .task {
    //     background-color: #68dd08;
    //     border-radius: 10px;
    //     margin: 10px 0;
    //     padding: 10px;
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    // }

    // .task.completed {
    //     background-color: #3a3a3a;
    //     text-decoration: line-through;
    //     color: gray;
    // }

    // .task button {
    //     background-color: #007AFF;
    //     color: white;
    //     border: none;
    //     border-radius: 5px;
    //     padding: 5px 10px;
    //     cursor: pointer;
    // }

    // .task button:hover {
    //     background-color: #005bb5;
    // }

    // /* Progress Bar styling */
    // .progress {
    //     margin: 20px 0;
    //     text-align: center;
    // }

    // .progress-bar {
    //     background-color: #007AFF;
    //     height: 20px;
    //     border-radius: 10px;
    //     transition: width 0.3s ease;
    // }


